<form action="" method="post" encType="multipart/form-data">
    Avatar <br>
    <input type="file" name="avatar" id="avatar"><br><br>
    Location <br>
    <input type="text" name="location" id="location" placeholder="Amsterdam, Netherlands"> <br><br>
    Informations <br>
    <textarea type="text" name="informations" id="informations" placeholder="I am an Optimist, I love nature and Parakeet!" style="resize: none; width: 400px; height: 100px;"></textarea> <br><br>
    <input type="submit" value="Save">
</form>